<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu class="toolbar" nzMode="horizontal">
      <li> <img style="width: 20vh; padding-left: 5vh;" src={{image}}></li>

      <li style="color: white;" nz-menu-item>Schedule</li>
      <li style="color: white; text-align: end;" nz-menu-item>Sign In</li>
      <!-- <li >
        <button style="justify-content: end;  " >Sign In</button>
      </li> -->

    </ul>
  </nz-header>

  <img class="coverimg" src={{cover}} alt="">
  <br>
  <!-- CONTAINER -->

  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-3">
        <nz-input-group class="searchbar" [nzSuffix]="suffixIconSearch">
          <input style="font-size: 2.5vh;" type="text" nz-input placeholder="Search Sessions" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>

      </div>

      <div class="col">
        <div class="dropdown show">
          <button style="margin-top: 5px;" class="btn btn-secondary dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filters
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Track</a>
            <a class="dropdown-item" href="#">Tag</a>
          </div>
        </div>

      </div>

    </div>
  </div>

  <hr>
  <!-- Example single danger button -->



  <nz-content>


    <div class="container-fluid">
      <div class="row">
        <div class="col  col-lg-2">


          <p>Today</p>
          <h1>{{day}} {{month}} {{date}}</h1>

          <hr>
          <h2>7:30 pm IST</h2>
        </div>


        <div class="col col-sm  ">

          <div class="d-flex" style="height: 100%;">
            <div class="vr"></div>
          </div>


        </div>
        <div class="col  col-lg-9">

          <nz-tabset style=" margin-left: -12vh; margin-right: -10vh;">
            <nz-tab nzTitle="Today">
              <div class="inner-content">
                <h3 style="font-weight: bold;">Getting Started with Docker</h3>
                <p>Software containers have become an essential tool in every developer's tool belt. They make it easy
                  to
                  share, run, and scale code. In this hands-on workshop, you'll learn how to provide your applications
                  and
                  services with containers by working in standardized, highly portable environments using Docker..



                  During this 3 hour workshop, we`ll cover:

                  Intro and brief history of Docker
                  Getting started with Docker and Docker Desktop
                  Making and using containers
                  Taking advantage of Docker Hub to find Official Images
                  Persistent data with volumes
                  Multiple Docker containers at once with Docker Compose
                  Deploying containers to the cloud
                  Quick peek at Docker Extensions
                  MORE
                </p>

                <button nz-button style="width: auto; border: none;" (click)="showModal()"> <img src={{vector2}}
                    style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                  <span style="font-size: 20px; margin-left: 2vh;">&nbsp; John Doe</span></button>

              </div>
            </nz-tab>
            <nz-tab nzTitle={{day2}}>
              <div class="inner-content">
                <h3 style="font-weight: bold;"> Keynote with Scott Johnston, Docker CEO</h3>
                <p>CEO Scott Johnston will kickstart DockerCon 2022 with some exciting announcements and teasers on
                  what’s to come. Tune in as Scott discusses common developer challenges, Docker technologies, and the
                  innovative strides we’ve made together over the past year — plus what’s in store for Docker’s future.

                  Docker`s product managers will discuss the latest releases and features. See demos on Docker Desktop
                  for Linux (DD4L) with Chris McLellan and Docker Extensions with Amy Bass. Hear from the extensions
                  partners Okteto, VMware, and JFrog, along with their customers F5 and LaunchDarkly.

                  Scott will also welcome Brian Jackson, Senior Engineering Manager at Lucasfilm and Kris Rivera,
                  Principal Software Engineer at Rapid7 to share some of the impressive things they’ve done throughout
                  their development journeys.

                  MORE

                </p>
                <button nz-button style="width: auto; border: none;" (click)="showModal()"> <img src={{vector3}}
                  style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                <span style="font-size: 20px; margin-left: 2vh;">&nbsp; Jane Doe</span></button>

                <hr>
                <h3 style="font-weight: bold;">Getting Started with Docker</h3>
                <p>Software containers have become an essential tool in every developer's tool belt. They make it easy
                  to
                  share, run, and scale code. In this hands-on workshop, you'll learn how to provide your applications
                  and
                  services with containers by working in standardized, highly portable environments using Docker..



                  During this 3 hour workshop, we`ll cover:

                  Intro and brief history of Docker
                  Getting started with Docker and Docker Desktop
                  Making and using containers
                  Taking advantage of Docker Hub to find Official Images
                  Persistent data with volumes
                  Multiple Docker containers at once with Docker Compose
                  Deploying containers to the cloud
                  Quick peek at Docker Extensions
                  MORE
                </p>
                <button nz-button style="width: auto; border: none;" (click)="showModal()"> <img src={{vector4}}
                  style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                <span style="font-size: 20px; margin-left: 2vh;">&nbsp; User324</span></button>

                <hr>
                <h3 style="font-weight: bold;">Getting Started with Docker</h3>
                <p>Software containers have become an essential tool in every developer's tool belt. They make it easy
                  to
                  share, run, and scale code. In this hands-on workshop, you'll learn how to provide your applications
                  and
                  services with containers by working in standardized, highly portable environments using Docker..



                  During this 3 hour workshop, we`ll cover:

                  Intro and brief history of Docker
                  Getting started with Docker and Docker Desktop
                  Making and using containers
                  Taking advantage of Docker Hub to find Official Images
                  Persistent data with volumes
                  Multiple Docker containers at once with Docker Compose
                  Deploying containers to the cloud
                  Quick peek at Docker Extensions
                  MORE
                </p>

                <button nz-button style="width: auto; border: none;" (click)="showModal()"> <img src={{vector5}}
                  style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                <span style="font-size: 20px; margin-left: 2vh;">&nbsp; User8924</span></button>

              </div>
            </nz-tab>
            <nz-tab nzTitle={{day3}}>
              <div class="inner-content">
                <h3 style="font-weight: bold;">WebAssembly and Containers</h3>
                <p>WebAssembly (Wasm) has generated buzz as the next cloud technology. In this talk, we focus on Wasm's
                  promise and where it fits into the cloud. We conclude with examples of Docker and Wasm complementing
                  each other.

                  WebAssembly is a promising technology for many reasons, including language neutrality,
                  cross-platform/architecture support, a security sandbox, small binary sizes, and great performance.
                  Seizing on these positives, many of us have begun developing cloud-centered Wasm tools — tools that
                  run on the server, not in a web browser. And we've seen Wasm’s virtues come through in surprising
                  ways. The enthusiasm toward WebAssembly is justified!

                  But we`ve been disappointed to see pundits and newcomers pit WebAssembly against Docker in a zero-sum
                  game. Wasm is wrongly touted as a ""replacement for Docker,"" when, in fact, Wasm complements Docker.
                  It can do some things Docker can’t, but isn’t able to do many things that have long made Docker the
                  most attractive way of developing cloud applications.

                  This talk introduces Wasm, focusing on its promise in cloud contexts. Then we go on to illustrate how
                  Docker containers and the burgeoning Wasm ecosystem work together. We show examples of a microservice
                  architecture that uses Wasm and Docker, then conclude with some speculation about what a future
                  WebAssembly+Docker ecosystem might look like.

                  MORE


                </p>
                <button nz-button style="width: auto; border: none;" (click)="showModal()"> <img src={{vector}}
                  style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                <span style="font-size: 20px; margin-left: 2vh;">&nbsp; John Doe</span></button>

                <hr>
                <h3 style="font-weight: bold;">Keynote with Scott Johnston, Docker CEO</h3>
                <p>CEO Scott Johnston will kickstart DockerCon 2022 with some exciting announcements and teasers on
                  what’s to come. Tune in as Scott discusses common developer challenges, Docker technologies, and the
                  innovative strides we’ve made together over the past year — plus what’s in store for Docker’s future.

                  Docker`s product managers will discuss the latest releases and features. See demos on Docker Desktop
                  for Linux (DD4L) with Chris McLellan and Docker Extensions with Amy Bass. Hear from the extensions
                  partners Okteto, VMware, and JFrog, along with their customers F5 and LaunchDarkly.

                  Scott will also welcome Brian Jackson, Senior Engineering Manager at Lucasfilm and Kris Rivera,
                  Principal Software Engineer at Rapid7 to share some of the impressive things they’ve done throughout
                  their development journeys.

                  MORE


                </p>
                <p
                  style="  width: 20vh;border: 1px solid rgba(101, 100, 100, 0.103);background-color: rgba(0, 0, 0, 0.049);  ">
                  <img src={{vector5}} style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; John Doe
                </p>

                <hr>
                <h3 style="font-weight: bold;">Keynote with Scott Johnston, Docker CEO</h3>
                <p>CEO Scott Johnston will kickstart DockerCon 2022 with some exciting announcements and teasers on
                  what’s to come. Tune in as Scott discusses common developer challenges, Docker technologies, and the
                  innovative strides we’ve made together over the past year — plus what’s in store for Docker’s future.

                  Docker`s product managers will discuss the latest releases and features. See demos on Docker Desktop
                  for Linux (DD4L) with Chris McLellan and Docker Extensions with Amy Bass. Hear from the extensions
                  partners Okteto, VMware, and JFrog, along with their customers F5 and LaunchDarkly.

                  Scott will also welcome Brian Jackson, Senior Engineering Manager at Lucasfilm and Kris Rivera,
                  Principal Software Engineer at Rapid7 to share some of the impressive things they’ve done throughout
                  their development journeys.

                  MORE

                </p>
                <p
                  style="  width: 20vh;border: 1px solid rgba(101, 100, 100, 0.103);background-color: rgba(0, 0, 0, 0.049);  ">
                  <img src={{vector3}} style="height:35px; border-radius: 50%; border: 2px solid #FEDE00;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jane Doe
                </p>
              </div>
            </nz-tab>
          </nz-tabset>

        </div>
      </div>
    </div>







    <nz-modal nzWidth="60%" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>

        <img src={{vector2}} style="height:95px; border-radius: 50%;float: left; ">

        <h1 style="font-weight: bold; margin-left: 115px;"> John Doe</h1>
        <h3 style="margin-left: 115px;">VP of Product, Application Modernization Platform | Google</h3>
        <br>
        <p>John Doe is the VP of Product, Application Modernization Platform. Jeff is a seasoned leader who most
          recently was the Senior Vice President and General Manager of Cloud and Network Security, Security Business at
          Cisco. In this role, Jeff was responsible for product, engineering, technical marketing, business development
          and GTM strategy for cloud and on-premise-based firewall, secure web gateway and workload protection products.
          He has led several large areas at Cisco, including the Enterprise Infrastructure and Solutions Group which
          comprised the $16 Billion networking product portfolio. Prior to joining Cisco, he held a number of senior
          positions in large-scale enterprise software businesses, covering storage product development, alliances, and
          business development. He also served as President & Cofounder of an e-commerce start-up venture.</p>
      </ng-container>
    </nz-modal>


    <!-- <a routerLink="app-article-comp" routerLinkActive="active">First Component</a> -->
    <a [routerLink]="['app-article-comp']" >First Component</a>


  </nz-content>
  <nz-footer>TimePay scheduler 2022 Implement By Angular</nz-footer>
</nz-layout>
<router-outlet></router-outlet>


